@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVI.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKd3vXDXbtM.woff2) format('woff2');
}



body
{
	margin: 0; 
	padding: 0;
	font-family: "Poppins",sans-serif;
	overflow-x: hidden;
}

header{
	height: 65px; 
	z-index: 10; 
	font-size: 14px;
}

.menu_bar{
	position: fixed; 
	z-index: 11; 
	width: 100%; 
	background: rgba(153, 153, 153, .66);
	transition: background 1s linear;
}

.menu_bar:hover{
	background: rgb(153, 153, 153); 
	transition: background 1s linear;
}

.primary_navigation{
	position: absolute;
	right: 0;
	top: 8px;
}
nav, li, a{
	color: rgb(255, 255, 255) !important;
	display: inline-block;
	list-style: none;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none !important;
	text-transform: uppercase;
	margin: 0 10px;
}

.tf
{
	vertical-align: middle; 
	padding: 10px 0;
	font-family:'Akronim', cursive;
	font-size: 40px; 
	font-weight: 400; 
	line-height: 1.321;
	margin: 0;
	color: rgb(255, 255, 255) !important;
}

.elementor
{
    min-height: 100vh;
    text-align: center;
}

.back_img
{
    background-color: hsl(0, 0%, 60%);
    opacity: 0.3;
   

}

.back_imgHeader .back_img
{
    height: 100%;
    width: 100%;
    top: 10;
    left: 0;
    position: absolute;
}



.last_img
{
 	position: relative;
 	top: -65px;
	background-image: url("../images/pexels.jpeg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}



.main_content
{
	display: flex;
	flex-direction: column;
	
}

.column_widget
{
	position: relative;
	top: 100px;

}

.deco_text
{

	position: relative;
	top: -100px;
	 margin: 20px 156px 0;

}

.text_deco
{
	color: rgb(255, 255, 255);
	font-family: "Playfair Display", sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1em;

 	margin: 0 30px 50px;
} 

.text_bot
{
	color: rgb(255, 255, 255 );
	font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em;
    margin: 20px 106px 20px ;
    
}

.menu{
  width: 963px; 
  margin: 0 auto 100px auto;}
.head_txt{
	display: flex;
    flex-direction: column;
    align-items: center;}
.head_txt1{
	margin-bottom: 30px;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 4px;
	font-size: 20px; 
	color: rgb(0, 0, 0); 
	font-weight: 600; }
.head_txt2{
	margin-bottom: 15px;
	color: rgb(0, 0, 0);
	font-family: "Playfair Display", sans-serif;
	font-size: 3rem; 
	font-weight: 700;}
.info_menu{
	margin-top: 15px;
	display: flex; 
	flex-flow: row wrap;
	justify-content: center;}
.info_menu .menu1{
	flex-basis: 400px;
	margin: 20px;
	display:  flex;
	flex-flow: column;}
	



.head_info_txt{
	letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
  	text-align: center;
    font-size: 15px;
    color: rgb(17, 17, 17);
}
.info_dish{
	font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1em;
    margin: 0 30px;
	text-align: center;
}


.pos_size {
	height: 175px; 
	width: 150px;
	background-color: rgba(0 ,0 , 0 , 0.4);}

.position_pos{ margin: 0 30px;}
	
.pos_imgIce{
	position: relative;
	top: 47px;}

.svg_ice{
	fill: rgb(255, 255, 255);
	color: hsl(0, 0%, 100%);}

.txtIce{
	font-size: 15px; 
	font-weight: 400; 
 	text-transform: uppercase; 
 	margin-top: 10px;
 	color: hsl(0, 0%, 100%);}

.ice_creameImage{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-height: 440px;
	background-image: url("../images/ed-min.jpg");
	background-position: 50% 50%; 
	background-repeat: no-repeat;
	background-size: cover;}


.info_History{
	width: 1010px; 
	margin: 90px  auto 0;}

 .stories{	display: flex;}

.info_historyTxt{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 350px;}

.head_txtHis{
	margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 4px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin:  0;}

.bottom_linktxt{
	border-style: none none solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem;
    margin: 20px auto 0;
    padding: 0;
    color: rgb(0, 0, 0) !important;}


.img_info1
{
	min-width: 350px; 
	min-height: 350px; 
	background-image: url("../images/Kurdak.jpg");
	background-position: 50% 50%; 
	background-repeat: no-repeat; 
	background-size: cover; 
	margin: 0;

}


.img_info2
{
	min-width: 350px; 
	min-height: 350px; 
	background-image: url("../images/national_kazakh.jpg");
	background-position: 50% 50%; 
	background-repeat: no-repeat; 
	background-size: cover;  
	margin: 0;
	
}

.img_info3
{
	min-width: 350px; 
	min-height: 350px; 
	background-image: url("../images/March_Soup.jpg");
	background-position: 50% 50%; 
	background-repeat: no-repeat; 
	background-size: cover;  
	margin: 0;
	
}

footer { height: 20px;}

.all_elem{
	width:100%;
	height: 300px;
	position:relative;
	top: -20px;
	background-color: rgb(242, 242, 242);
	text-align: center;}

.over_Txt, .icons_info{
	position: relative;
	top: 80px;
	margin: 0 180px;}

.over{
	position: absolute;
	left: 41%;
	bottom: 0;
	margin: 0; }


.footerTxt
{
	color: rgb(0, 0, 0);
	font-family: "Playfair Display", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 30px;
}


/*Just test*/
@media(max-height:  400px){
	.column_widget{
		position: relative;
		top: -10px;
	}
}



/*here we go😼😼😼🎶🎶🎶*/
@media(max-width:  1090px) and (min-width:  850px)
{

	.info_History
	{
		width: 600px;
		margin: 0 auto;
		/*min-width: auto;*/ 

	}

	.img_info1, .img_info2, .img_info3
	{
		min-width: 200px;

	}

	.info_historyTxt
	{
		min-width: 200px;
		width: 200px;
	}



	.menu
	{
		min-width: auto;
		width: 500px;
		

	}

		.deco_text
		{
			margin: 20px 50px 0;
		}

	.text_deo
	{
			font-size: 2rem;

	}

	.text_bot
	{
		font-size: 15px;
		margin: 20px 53px 20px;
	}

} 


/*let's go 😎😎😎😜🐱‍👤*/
@media(max-width:  850px) and (min-width:  523px)
{

	.menu_bar
	{
		height: 50px;
	}

	.primary_navigation
	{
		position: absolute;
		top: 25px;
			
		
	}

	.tf,  .txt_header
	{
			font-size: 20px;
	}

	nav, li, a, .head_txt1, .head_txtHis, .footerTxt
	{
		font-size: 15px;
	}

		.deco_text
		{
			margin: 20px 50px 0;
		}

	.text_deco
	{
			font-size: 2em;

	}

	.text_bot
	{
		font-size: 15px;
		margin: 20px 53px 20px;
	}

	.head_txt2
	{
		font-size: 1.7rem;
	}

	.head_info_txt, .info_dish, .txtIce
	{
		font-size: 13px;
	}

	.info_History
	{
		width: 600px;
		margin: 0 auto;
		/*min-width: auto;*/ 

	}

	.img_info1, .img_info2, .img_info3
	{
		min-width: 200px;

	}

	.info_historyTxt
	{
		min-width: 200px;
		width: 200px;
	}

	.pos_size
	{
		height: 175px; 
		width: 130px
	}



	.menu
	{
		min-width: auto;
		width: 500px;
		

	}

		.svg_logo
		{
			width: 18px;
			height:  18px;
		}	

		.over_Txt, .icons_info
		{
				top: 30px;
				left: -20px;
				margin: 0 50px;
		}

		.over
		{
			left: 35%;
		}


}

/*Galaxy S5*/
@media(max-width:  360px) and (max-height:  650px){
	.menu_bar{	height: 50px;}
		
	.primary_navigation{
		position: absolute;
		left: 0;
		top: 25px;	}

	.tf,  .txt_header{	font-size: 20px;}
		
	nav, li, a, .head_txt1,  .footerTxt{	font-size: 12.5px;}
		
	.bottom_linktxt	{
    	font-size: 8px;
		margin-bottom: 20px;}

	.deco_text	{	margin: 20px 0 0;}
			
	.text_deco{  font-size: 20px;}
		
	.text_bot{
		font-size: 13px;
		margin: 20px 10px 20px;}

	.head_txt2{  font-size: 20px;}
	
	.head_info_txt, .info_dish, .txtIce, 
	.head_txtHis, .txt_header{	font-size: 12px;}

	.menu{
		width: 310px;
		min-width: auto;}
	
	.pos_size{
		height: 50px; 
		width: 25px;}

	.ice_creameImage{	width:  100%;}
	
	.position_pos{	margin: 0;	}

	.info_History{
		width: 340px;
		margin: 20px  auto;}

	.img_info1, .img_info2, .img_info3{
		min-width: 100px;
		min-height: 100px;}

	.info_historyTxt{
		margin: 10px;
		min-width: 100px;}

	.pos_size{
		height: 175px; 
		width: 100px;}

	.svg_logo{
		width: 18px;
		height:  18px;}	
		
	.over_Txt, .icons_info	{
		top: 30px;
		margin: 0;	}

	.all_elem{	height: 200px;	}
		
	.over{	left: 20%;	}	
}