@font-face {
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/alexbrush/v13/SZc83FzrJKuqFbwMKk6EhUXz7Q.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVI.woff2) format('woff2');
}

html, body
{
	margin: 0; 
	padding: 0;
	font-family: "Poppins",sans-serif;
}

header
{
	height: 65px; 
	z-index: 10; 
	font-size: 14px;
}

.menu_bar
{
	position: fixed; 
	z-index: 11; 
	width: 100%; 
	background: rgba(153, 153, 153, .66);
	transition: background 1s linear;
}

.menu_bar:hover
{
	background: rgb(153, 153, 153); 
	transition: background 1s linear;
}

.tf
{
	vertical-align: middle; 
	padding: 10px 0;
	font-family:'Akronim', cursive;
	font-size: 40px; 
	font-weight: 400; 
	line-height: 1.321;
	margin: 0;
	color: rgb(255, 255, 255) !Imoprtant;
}

.primary_navigation
{
	position: absolute;
	right: 0;
	top: 8px;


}


nav, li, a
{
	color: rgb(255, 255, 255) !Important;
	display: inline-block;
	list-style: none;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none !Important;
	text-transform: uppercase;
	margin: 0 10px;
}

.txt
{
	background: none !Important;
	border: 1px solid rgb(255, 255, 255) !Important;
}


.back_pos
{
	display: flex; 
	flex-direction: column;
	align-items: center;
}

.back_color
{
	width: 888px; 
	margin: 0 auto;
	height: 521px;
	background-image: none;
	background-color: hsl(88, 51%, 93%);
}

.txt_head
{
	font-family: "Alex Brush";
	margin-top: 70px; 
	font-size: 4.5rem;
	line-height:1;
}

.txt_head2
{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
    margin: 27px 0 17px;

}

.cont_headTxt
{
	text-align: center;
}

.line
{

	background-color: rgb(42, 115, 204);
    display: inline-block;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 49px;
}

.grid_gallery
{
		position: relative;
		top: -18em;
	padding: 1em 0 4em; 
	max-width: 1000px;
	list-style: none; 
	text-align: center;
}



.grid_gallery figure
{
	position: relative;
	float: left; 
	overflow: hidden;
	margin: 20px; 
	min-width: 400px;
	max-width: 480px; 
	max-height: 360px; 
	background: rgb(153, 153, 153);
	text-align: center; 
	cursor: pointer;
}

.grid_gallery figure img
{
	position:  relative;
	display: block; 
	min-height: 100%;
	max-width: 100%; 
	opacity: 0.8;	
}



.btn_view
{
	font-weight: 700; 
	font-size:  12px; 
	color: rgb(255, 255,255);
	position: absolute;
	bottom: 0; 
	left: 0;
	margin-bottom: 10px;
	margin-left: 10px;
}

.btn_view:hover
{
	background-color: rgba(143, 154, 169, 0.4);
}


figure.animation img
{
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: 100%;
	opacity: 0.7;
		background-color: none; 
		transition: all 0.5s ease;

}


figure.animation:hover img
{
	opacity: 1;
} 

figure.animation:hover img
{
	background-color: rgb(143, 154, 169, 0.4);
	transition: all 0.5s ease; 
}

.col-sm
{
	padding:  0 !Important;
}
