@font-face {
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/alexbrush/v13/SZc83FzrJKuqFbwMKk6EhUXz7Q.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVI.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format('woff2');
}





html, body
{
	margin: 0; 
	padding: 0;
	font-family: "Poppins",sans-serif;
}

header
{
	height: 65px; 
	z-index: 10; 
	font-size: 14px;
}

.menu_bar
{
	position: fixed; 
	z-index: 100; 
	width: 100%; 
	background: rgba(153, 153, 153, .66);
	transition: background 1s linear;
}

.menu_bar:hover
{
	background: rgb(153, 153, 153); 
	transition: background 1s linear;
}

.tf
{
	vertical-align: middle; 
	padding: 10px 0;
	font-family:'Akronim', cursive;
	font-size: 40px; 
	font-weight: 400; 
	line-height: 1.321;
	margin: 0;
	color: rgb(255, 255, 255) !important;
}

.primary_navigation
{
	position: absolute;
	right: 0;
	top: 8px;


}


nav, li, a
{
	color: rgb(255, 255, 255) !Important;
	display: inline-block;
	list-style: none;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none !Important;
	text-transform: uppercase;
	margin: 0 10px;
}



.txt
{
	background: none !Important;
	border: 1px solid rgb(255, 255, 255) !Important;
}



.back_pos
{
	display: flex; 
	flex-direction: column;
	align-items: center;
}



.back_color
{
	width: 1118px; 
	margin: 0 auto;
	background-image: none;
	
}

.header_content
{

	background-image: none;
	background-color: rgba(153, 153, 153, .3);
}

.txt_head
{
	font-family: "Alex Brush";
	margin-top: 70px; 
	font-size: 4.5rem;
	line-height:1;
}

.txt_head2
{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
    margin: 27px 106px 17px;

}

.cont_headTxt
{
	text-align: center;
}

.line
{

		background-color: rgb(42, 115, 204);
    display: inline-block;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 150px;

}

.line2
{
		background-color: rgb(42, 115, 204);
    display: inline-block;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 35px;
    width: 250px;
}

.line3
{
	background-color: rgb(42, 115, 204);
    display: block;
    height: 2px;
    margin-bottom: 5px;
    margin-top: 35px;
    width: 360px;
}

.info_link{
	text-align: center;}

.linkInfo{ margin: 5px;}
	
.linkInfo:hover a{
	font-weight: 700;
	color: rgb(40, 101, 244) !important;
	transition: all 0.35s ease-in-out;}

.txt2 {
	background: none !important;
	border: 1px solid rgb(255, 255, 255) !important;}

.txt2:hover{
	background-color: rgba(153, 153, 153, .1) !important; }

.dinner_recieps{	margin: 80px;}

.pos_for_elemHead{
	display: flex; 
	flex-direction: column;
	margin-left: 40px;}

.country_food{
	display: flex; 
	flex-direction: row;}

.elem_imgTxt{
	display: flex;
	flex-direction: row;
	align-items: space-around;}

.simple_but{
	display: flex;
	margin: 10px;}

.pos_button_price{
	position:absolute;
	right: 0;
	margin-right: 200px;}

.elem_imgTxt .img_food{
	overflow: hidden;
	max-width: 320px;
	min-width: 320px; 
	height: 320px;}

.img_1{
	position:relative;
	left: -100px;
	min-height: 100%;}

.img_2{
	position: relative;
	min-height:100%;}

.inco_clickTxt{
	font-size: 15px;
	letter-spacing: 2px;
	font-family: Open Sans, sans-serif;}

.info_click{ margin: 0;}

.head_txt{
	font-family: "Playfair Display", sans-serif;
    font-size: 45px;
    margin-bottom: 10px;}

.country_Name{
	font-size: 15px;
	font-weight: 700; 
	margin-left: 10px;}

.text_infoP{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em;
    margin: 20px 30px 20px;}

 td{ font-weight: 700;}

	


footer 
{
	height: 20px;
}

.all_elem
{
	width:100%;
	height: 300px;
	position:relative;
	top: 0px;
	background-color: rgb(242, 242, 242);
	text-align: center;
}

.over_Txt, .icons_info
{
	position: relative;
	top: 80px;
	margin: 0 180px;
}

.over
{
	position: absolute;
	left: 41%;
	bottom: 0;
	margin: 0; 
}

.footerTxt
{
	color: rgb(0, 0, 0);
	font-family: "Playfair Display", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 30px;
}


/*Galaxy S5 */
@media(max-width:  360px) and (max-height:  650px)
{
	.menu_bar
	{
		height: 60px; 
	}

	.txt
	{
		padding: 2px;
	}

	.primary_navigation
	{
		position: absolute;
		left: 0;
		top: 25px;
	}

	nav, li, a
	{
		margin: 0 5px;

	}

	.back_color
	{
		width: 310px; 
		margin: 0 auto;
	}


	.elem_imgTxt .img_food 
	{
		min-width: 220px;
		height: 220px;
	}

	.pos_for_elemHead
	{
		align-items: center;
		margin: 0;
	}

	.pos_button_price
	{
		margin-right: 25px;
	}

	.elem_imgTxt
	{
		flex-wrap: wrap;
	}

	.img_1
	{
		top: -30px;
	}


		.svg_logo
		{
			width: 18px;
			height:  18px;
		}	

		.over_Txt, .icons_info
		{
				top: 30px;
				margin: 0;
		}

		.all_elem
		{
			top: -50px;
			height: 200px;
		}

		.over
		{
			left: 20%;

		}



/*font-sizes*/
	nav, li, a, .head_txt1, .footerTxt
	{
		font-size: 12.5px;
	}

	.tf, .txt_header
	{
		font-size: 20px;
	}

	.txt_head
	{
		font-size: 2rem;
	}

	.txt_head2
	{
		text-align: center;
		font-size: 15px; 
		margin: 10px 15px 17px;
	}

	.text_infoP{
		font-size: 13px;

	}

}